@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #F0DBA5;
  --text: #151515;
  --yellow: #EDB74D;
  --red: #EB6666;
  --green: #6FB18A;
}

@font-face {
  font-family: "Neuropol";
  src: url("../public/Neuropol.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}

#temp-home-text {
  grid-column: 2 / 5;
}

#temp-gal-link {
  grid-column: 2 / 5;
}

.glslCanvas {
  filter: hue-rotate(140deg);
}