@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Neuropol";
  src: url("../public/Neuropol.otf");
}

@font-face {
  font-family: "Hybrid_o";
  src: url("../public/Hybrid_o.ttf");
}

@font-face {
  font-family: "Hybrid_b";
  src: url("../public/Hybrid_b.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.521);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}

#temp-home-text {
  grid-column: 2 / 5;
}

#temp-gal-link {
  grid-column: 2 / 5;
}